.col-3 {
    z-index: 11;
}

#root h3 {
  color: #004D40;
  line-height: 1.5;
}

#root .detail-selected {
  background: #f2f2;
}

#root .detail-default {
  background: #E7E7E7;
  padding: 0 0;
  margin-bottom: 15px;
}

/* #root .basket {
  position: fixed;
  z-index: 1;
  bottom: 25px;
  border-left: 0;
} */

#root .basket {
  position: fixed;
  z-index: 1;
  /* background-color: rgb(255, 192, 0) !important;
  border-color: rgb(255, 192, 0) !important; */
  bottom: 0px;
  border-right: 0px;
  color: black;
  /* margin: 20px; */
  /* border: 1px solid rgba(0, 0, 0, .1); */
}
.basket-div .btn-primary, .basket-div .btn-primary:active, .basket-div .btn-primary:visited {
    background-color: rgb(255, 192, 0) !important;
    border-color: rgb(255, 192, 0) !important;
}
.basket-div .btn-primary.hover, .basket-div .primary:hover {
    background-color: rgb(255, 192, 100) !important;
    border-color: rgb(255, 192, 100) !important;
}
.basket-div .btn-primary.focus, .basket-div .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 210, 80, 0.5) !important;
}

/* #root .basket-item, .basket h3 {
  padding: 5px 10px;
} */

#root .plusminus {
  /* color: blue; */
  text-decoration: none;
  cursor: pointer;
  font-size: 1.3em;
  width: 800;
}

#root .removebasket {
  color: red;
  text-decoration: none;
  float: right;
  font-size: 1.3rem;
  font-weight: 600;
  /* line-height: 1; */
}

#root .basket-item span {
  padding: 0 2px
}

.basket-div {
  display: none;
}

.my-show-detail {
  display: block;
}

.mycollapse {
  display: none;
  /* opacity: 0.4; */
}

.my-show {
  display: block;
  /* opacity: 1; */
}

/* .mycollapse.hide {
  display: none;
} */

.form-control-sm {
  padding: 0rem 0.15rem !important;
  border-radius: inherit !important;
}

/*.card {
  border: 10px solid #fff;
}*/

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #004D40 !important;
    border-color: #004D40 !important;
}
.btn-primary:hover {
    background-color: #087966;
    border-color: #087966;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(8, 121, 102, 0.5) !important;
}

@media screen and (max-width: 600px) {
  .custom-control-inline {
    display: block !important;
  }
}

@media screen and (max-width: 1022px) {
    .wrap_mW { z-index: 1 !important; }
    .custom-select {  z-index: 9 !important;  }
    .custom-control {  z-index: 9 !important;  }
}
