#root h3 {
  color: #004D40;
  line-height: 1.5;
}

#root .detail-selected {
  background: #f2f2;
}

#root .detail-default {
  background: #E7E7E7;
  padding: 0 0;
  margin-bottom: 15px;
}

#root .basket {
  position: fixed;
  z-index: 1;
  background: rgba(255, 255, 255, .8);
  bottom: 0;
  right: 0;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, .1);
}

#root .basket-item, .basket h3 {
  padding: 5px 10px;
}

#root .basket-item span,
#root .basket-item a {
  padding: 0 7px
}

/*.card {
  border: 10px solid #fff;
}*/

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #004D40 !important;
    border-color: #004D40 !important;
}
.btn-primary:hover {
    background-color: #087966 !important;
    border-color: #087966 !important;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(8, 121, 102, 0.5) !important;
}
