.books {
  background: #ff2;
}

.book {
  background: #ff9;
}

h3 {
  color: #f22
}

.book-selected {
  background: #f2f2;
  margin-bottom: 10px;
}

.book-default {
  background: #cef;
  margin-bottom: 10px;
}

.basket {
  position: fixed;
  background: rgba(255, 255, 255, .8);
  top: 0;
  right: 0;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, .1);
}

.basket-item, .basket h3 {
  padding: 5px 10px;
}

.basket-item span,
.basket-item a {
  padding: 0 7px
}
